body {
  /* font-family: "Fira Code"; */
  align-content: center;
  border-color: #474035;
  background-color: #161a1b;
  color: #a9a8a5;
}
.image-display {
  justify-content: center;
  display: grid;
  grid-template-columns: 280px 280px 280px;
}
img,
canvas,
input,
button {
  margin: 5px;
  width: 260px;
}
